/* Foundations */

*,
*:before,
*:after {
  box-sizing: inherit;
  overflow: hidden;
  /*Forces any element to inherit border-box sizing */
}

html {
  box-sizing: border-box;
  /* Establishes consistent box-sizing model across all elements
  i.e. including padding and border within an elements total width and height */

  width: 100%;
  height: 100%;
  /* Ensures viewport is filled and helps to prevent unwanted margins or padding */

  font-size: 80%;
  /*  Scales root font size against browser default */
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;

  text-align: center;
  font-family: "VT323", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;

  overflow: hidden;
  /* Comment out above when testing */

  background-color: #0000a9;
  color: #aaa8b4;
}

h1 {
  text-align: center;
  flex-basis: 100%;
}

p {
  font-size: 1.5rem;
  width: 100%;
}

/* Flex Classes */

.flex-rw {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Alignment Classes */

.margin-auto {
  margin: 0 auto;
}

.width-700 {
  width: 700px;
}

/* Styling Classes */

.grey-bar-h1 {
  background-color: #aaa8b4;
  color: #0000a9;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

/* Primary Containers */

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 700px;
  height: 700px;
  margin: 10vh auto 0;

  border: 0.5vw solid #aaa8b4;
}

#container h1 {
}

#OS {
  text-align: right;
  margin-top: 1vh;
}

/* Splash Screen */

#splash-screen {
}

#splash-screen h1 {
  font-size: 5rem;
  text-align: center;
}

/* Name Screen */

#name-screen {
  display: none;
}

#name-screen h1 {
  font-size: 3rem;
}

#player-name-input {
  display: none;
  padding-left: 2vw;
  padding-right: 2vw;
  text-transform: uppercase;
  font-size: 2rem;
  border-radius: 0px;
  height: 6vh;
  border: 0.25vw solid #aaa8b4;
  transition: 0.3s;
  color: #aaa8b4;
  background-color: #0000a9;
  cursor: pointer;
  width: 25vw;
  margin: 0.67em 0;
}

#player-name-input:hover {
  cursor: pointer;
  color: black;
  background-color: #aaa8b4;
}

/* CSS Loading Bar */

.loader {
  display: none;
  position: relative;
  width: 100%;
  height: 50%;
  background: linear-gradient(#aaa8b4 0 0) 0/0% no-repeat #0000a9;
  animation: l1 3s linear;
}
@keyframes l1 {
  100% {
    background-size: 100%;
  }
}

/* Start Screen */

#start-screen {
  display: none;
  width: 700px;
  height: 700px;
}

#inner-start-screen {
  display: none;
}

#player-name-h1 {
  font-size: 3rem;
}

#inner-start-screen h2 {
  flex-basis: 100%;
  font-size: 1.5rem;
}

#inner-start-screen p {
  max-width: 75%;
  font-size: 1.5rem;
}

#score-target {
  display: inline-block !important;
  font-size: 2rem;
  overflow: visible;
}

/* Game Screen */

#game-screen {
  display: none;
  position: absolute;
  background-image: url(https://yakgalaxy.github.io/windrone-95/images/background.png);
  background-size: cover;
  animation: slide 3s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0;
  }
  /* 95% {
    background-position: 0 0; */
  /* } */
  100% {
    background-position: -1400px;
  }
}

/* Top Game Screen UI */

#stats-container {
  display: none;
  flex-flow: row nowrap;
  /* margin: 3%; */
  gap: 5%;
  font-size: medium;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
  width: 100%;
  height: 7%;
  align-content: stretch;
  font-size: 1.5rem;
  background-color: #aaa8b4;
}

#stats-container img {
  display: none;
  margin-left: 50%;
}

#file-button {
  margin: 1%;
  border: #0000a9 5px solid;
  background-color: #aaa8b4;
}

#file-button:hover {
  cursor: pointer;
}

#dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 7%;
  background-color: #f1f1f1;
  z-index: 1;
}

#dropdown-content a {
  color: black;
  background-color: #aaa8b4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {
  color: #aaa8b4;
  background-color: #0000a9;
}

#stats-container p {
  margin: 1%;
  margin-left: 2%;
}

#health-bar {
  width: 138px;
  height: 56px;
}

/* Game Over Screen */

#game-over-screen {
  display: none;
  width: 700px;
}

/* Cheat Screen */

#cheat-screen {
  display: none;
  width: 700px;
  height: 700px;
  background-size: contain;
  background-image: url(/images/virus.gif);
}

/* Game Won Screen */

#game-won-screen {
  display: none;
}

#game-won-screen h2 {
  width: 100%;
}

#score-table {
  display: none;
  border: 1px solid #aaa8b4;
}

#score-h1 {
  font-size: 3rem;
}

/* Buttons */

.button {
  padding-left: 2vw;
  padding-right: 2vw;

  text-transform: uppercase;
  font-size: 2rem;

  width: 25vw;
  height: 6vh;

  border: 0.25vw solid#AAA8B4;
  border-radius: 0px;

  transition: 0.3s;
  cursor: pointer;

  color: black;
  background-color: #aaa8b4;
  box-shadow: 0 9px #5f5f5f;

  margin: 0.67em 0;
}

.button:hover {
  color: #aaa8b4;
  background-color: #0000a9;
}

.button:active {
  box-shadow: 0 0.5vh black;
  transform: translateY(4px);
}

#start-button {
}

#activate-button {
}

#restart-button {
}

#restart-button-2 {
}
