/* :root {
} */

.left-align {
  text-align: left;
}

#start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  border-radius: 0px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
}

#start-button:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* // Forces any element to inherit border-box sizing */

html {
  box-sizing: border-box;
  /* // Establishes consistent box-sizing model across all elements
  // i.e. including padding and border within an elements total width and height */
  width: 100%;
  height: 100%;
  /* // Ensures viewport is filled and helps to prevent unwanted margins or padding */
  font-size: 60%;
  /* // Scales root font size against browser default */
}

body {
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 700px;
  height: 700px;
  margin: 10vh auto 0;
  border: 1px solid;
}

#container h1 {
  text-align: left;
}

#splash {
  /* display: none; */
}

#name-screen {
  display: none;
}

#player-name-input {
  display: none;
}

#player-name-input-wrapper {
  position: relative;
}

input {
  width: 10vw;
  padding: 12px 20px;
}

#player-name-input-icon {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  font-size: larger;
  font-weight: bolder;
}

#player-name-input-icon:hover {
  cursor: pointer;
}

#start-screen {
  display: none;
}

#start-screen p {
  max-width: 16.66vw;
}

#score-target {
  display: none;
}

#game-screen {
  display: none;
  /* display: flex; */
  flex-flow: row wrap;
  /* overflow: hidden; */
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(/images/background.png);
  background-size: cover;
  width: 700px;
  height: 700px;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 1000px 0;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: -50px 0;
  }
}

#stats-container {
  display:flex;
  flex-flow: row nowrap;
  margin: 1%;
  align-items: center;
  gap: 1%;
  font-size:medium;
}

#health-bar {
padding-left: 50%;
}

#game-over-screen {
  display: none;
}
